#root{
  height: 100%;
  
}
.App{
  height: 100%;
  display: flex;
}

.logo {
  height: 80px;
  background: rgba(255, 255, 255, 0.2);
  margin: 15px;
}

.site-layout .header-layout{
  background: #fff;
}

.main-content{
  display:flex;
}

.request{
  padding: 40px 40px 30px 70px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.cards{
  display: flex;  
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  flex: 1;
}
.card-item{
  width: 200px;
  height: 100px;
  background-color: white;
  box-sizing: border-box;
  line-height: 100px;
  margin-bottom: 15px;
  text-align: center;
  display:  flex;
}
.card-icon{
  flex: 1;
  margin-top: 5px;
}
.card-info{
  flex: 2;
  display: flex;
}
.card-main-text{  
  font-size:25px;
  font-weight: bold;  
}

.request-table{
  flex: 4;
}
.clickRowStyle{
  background-color: #00b4ed;
}
.ant-table-tbody>.clickRowStyle:hover>td
{
  background-color: #00b4ed;
}
  
.customer-detail{  
  background-color: white;
  border-top: #f3e8e8 solid 2px;
  padding: 25px 15px 15px 15px;
  width: 350px;
  display: none;
}
.customer-detail hr{
  margin: 20px 0;
}
.customer-common-info h3{
  margin-bottom: 0px;
}
.customer-common-info a.ant-btn-lg {
  line-height: 38px;
  width: 135px;
}
.customer-common-info{
  text-align: center;
}

.profile-edit{
  flex: 1;
  margin: auto;
}

.page-comming-soon{
    flex: 1;
    margin: auto;
    text-align: center;
    font-size: 3em;
}