.form-row{
    padding: 10px 0;
    display: flex;
}

.form-row label{
    padding-right: 10px;
    flex: 1;
}

.form-row input{
    flex: 7;
}

/*======================*/
.layout-column {
    max-width: 1300px;
    background-color: #FFF;
    margin: 40px auto 0 auto;
    line-height: 1.65;
    padding: 20px 40px;
    display: flex;
}

.main-column{
    flex:3;
    order: 2;
}

.sidebar-one{
    flex:1;
    order: 1;
}

.sidebar-two{
    flex:1;
    order: 3;
}

/*=============Ex3=========*/
.call-out-container{
    /* max-width: 1400px; */
    margin: 40px auto 0 auto;    
}
.call-out{
    padding: 20px;
    margin-bottom: 10px; 
    flex-basis: 33%;
    box-sizing: border-box;
}
.call-out:nth-child(1) {background-color: #c0dbe2;}
.call-out:nth-child(2) {background-color: #cdf1c3;}
.call-out:nth-child(3) {background-color: #ccb9da;}
@media(min-width:900px)
{
    .call-out-container{        
        display: flex;
        justify-content: space-between;
    }
}
/* .call-out:last-child {margin-right: 0;} */

/*=============Ex4=========*/
.fixed-size-container{
    padding: 0px 25px;
    align-items: center;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}
.fixed-size-item{
    width: 150px;
    height: 100px;
    background-color: lightgray;
    font-size: 4em;
    font-weight: bold;
    color: white;
    box-sizing: border-box;
    text-align: center;
    line-height: 100px;
    margin-bottom: 15px;
}
/*=============Ex5=========*/
.parent-container{
    display: flex;
    background-color: teal;
    margin: 0px auto;
    padding: 10px 10px ;
    height: 100px;
    width: 200px;
    box-sizing: border-box;
}
.center-me{
    margin: auto;
    color: white;
}

/*=============Ex6=========*/
.equal-height-container{
    margin: 0 auto;
    display: flex;
}
.main-ex6{
    background-color: #c2c2c2;
    padding: 20px;
    flex: 1;
}
.child-row{    
    flex:1;
    background: #c0dbe2;
    display: flex;
    flex-direction: column-reverse;
}
.child-row-a{
    background: #cdf1c3;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.child-row-b{
    background: #ccb9da;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}