body {
    margin: 20px 10%;
    border: 2px dotted black;
}
header {
    color: white;
    background: black;
    padding: 10px 20px;
}

ul{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
li {
    display: inline-block;
    margin-right: 20px;
}
section{
    background: white;
    color: gray;
    padding: 20px;
    display: flex;
    flex-direction: row;
}
div {
    background: red;
    margin: auto;
    width: 150px;
}
footer{
    background: black;
    padding: 10px 20px;
}