.rating-bar {
    display: flex;
  }
  .rating-unit {
    width: 50px;
    height: 50px;
    background: #9E9E9E;
    margin-right: 5px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
  
  }
  .rating-unit.active {
    background: deeppink;
  }